/*
graying out...

make a container div with 
background: rgba(0,0,0,0.7);
*/

/* ---- general ---- */
body {
	margin: 10px;
	background-color: #333333;
	color: #aaaaaa;

	"Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size: 1.0em;

	/*Make text unsellectable*/
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ---- title ---- */
#ttt-title {
	color: #aaaaaa;
	text-align: center;
}


/* ---- hub ---- */

/* general hub layout */

.container {
	border: 1px solid #666666;
	padding: 10px;
	overflow: hidden;
}
#left-col {
	width:49%;
	float:left;
}
#right-col {
	width:49%;
	float:right;
}
.col-container {
	border: 1px solid #666666;
	padding:4px;
}
.container-label {
	margin-top:10px;
}
.top-container {
	border:1px solid #666666;
	height:70px;
	padding:4px;
}

.player-display-name {
	height:32px;
	vertical-align: middle;
	line-height:200%;
}

#scrolling-list {
	border: 1px solid #666666;
	padding:4px;
	overflow-y:auto;
	height: 300px;
}

textarea {
  resize: none;
  width:98%;
	background-color:#333333;
	border:1px solid #aaaaaa;
}
textarea:focus {
    outline:none;
}

input {
	background-color:#333333;
	border:1px solid #aaaaaa;
	padding-left:4px;
}
input:focus {
    outline:none;
}
#name-input {
	height: 26px;	
}
#chat-box {
	width:98%;
}
.bright-name {
	color: #ddffff;
}
::-webkit-input-placeholder {
   color: #666666;
}
::-moz-placeholder {
   color: #666666;
}
:-ms-input-placeholder {  
   color: #666666;
}

button {
	text-align:center;
  /*display: inline-block;*/
  /*position: relative;*/
  /*width: 30px;*/
  height: 30px;
  background-color: #333333;
	border:1px solid #aaaaaa;
}
button:focus {
	outline:none;
}


.tiny-text {
	font-size: 0.8em;
}

.input-tiny-name {
	font-weight: bold;
}

.good-text {
	color: #3333ff;
}
.bad-text {
	color:#ff3333;
}

/* for the list of all the players */
#players-container {
	/*margin-top:10px;*/
	border:1px solid #666666;
	width:46%;
	padding:4px;
}


.list-item {
	border:1px solid #666666;
	padding:5px;
	height:20px;
	color: green;	
	margin-bottom:4px;
}


.feedback {
	text-align: center;
	clear: both;
}
.question {
	margin: auto;
}

.player-playing {
	color: red;
}
.player-challenged {
	color: gold;
}

/* 2d game */
.board {
	display: block;
	width: 186px;
	margin: auto;
	padding: 10px;
}
.board-cell {
	width: 60px;
	height: 60px;
	border:1px solid #666666;
	margin: auto;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
	
	float: left;



	box-sizing: boarder-box;
	/*Transition (not working)*/
	transition-duration: 0.2s;
	
}