<!-- hubCtrl sent in as hub by ui-router -->

<!-- <button ng-click="hub.test()">test</button> -->
<div class="container">

<!-- left -->
	<div id="left-col">
		<!-- infor for this player -->
		<div class="top-container">

			<!-- get name from player -->
			<form 
					ng-submit="hub.inputNameSubmit()" 
					ng-hide="hub.player.name.length>0">
				<div>Who are ya? 
					<input id="name-input"
						autofocus
						maxlength="24"
						id="input-name"
						placeholder="pick a name"
						type="text" 
						ng-model="hub.inputName" 
						ng-change="hub.inputNameChange()"
					/>
					<button>+</button>
				</div>
			</form>
			<!-- message whether name is avaliable -->
			<p 
				class="tiny-text" 
				ng-show="hub.inputName.length>0" 
				ng-class="{'good-text':hub.inputNameGood, 'bad-text': !hub.inputNameGood}">
				The name <span class="input-tiny-name">{{hub.inputName}}</span> {{hub.inputNameMsg}}.
			</p>

			<!-- message to player after name is added -->
			<div ng-show="hub.player.name">
				<div class="player-display-name">Hello {{hub.player.name}}</div>
				<p>You have {{hub.player.wins}} wins. </p>
			</div>
		</div> <!-- left top -->


		<!-- list of other players -->
		<div class="container-label">Players:</div>
		<div class="col-container">
			<p class="tiny-text" ng-show="hub.players.length==0">The room is empty.</p>

			<!-- list of players other than the actual player -->
			<div
				class = "list-item"
				ng-repeat = "player in hub.players | filter:{name:'!'+hub.player.name}:true" 
				ng-click = "hub.hitPlayer(player)"
				ng-class = "{
					'player-playing':player.state == 'playing', 
					'player-challenged': player.state == 'challenged' || player.state == 'challenging' || player.state == 'accepted'
				}"
			>
				{{player.name}}
			</div>
		</div>


	</div> <!-- left -->

<!-- right -->
	<div id="right-col">

		<!-- messages -->

		<!-- top -->
		<div class="top-container">

			<!-- general message -->
			<div 	ng-show="hub.message.length>0 && hub.player.state == 'message' || hub.player.state == 'needName'"
						ng-bind="hub.message"></div>

			<!-- challenge pending -->
			<div ng-show="hub.player.state == 'challenging'">Waiting for answer from {{hub.otherPlayer.name}}.</div>

			<!-- challenge from other player -->
			<div ng-show="hub.player.state == 'challenged'"> 
				You have been challenged by: {{hub.player.challengedBy}}. Do you accept?<br>
				<button ng-click="hub.acceptChallenge()">yes</button>
				<button ng-click="hub.rejectChallenge()">no</button>
			</div>

			<div ng-show="hub.player.state == 'accepted'">
				Choose a token...<br>
				Your token: {{hub.player.token}}<br>
				{{hub.otherPlayer.name}}'s token: {{hub.otherPlayer.token}}
				<button ng-click="hub.play2d()" ng-show="hub.player.gameId.length > 0">Play!</button>
			</div>

		</div> <!-- top -->

		<!-- chatt -->
		<div ng-hide=" hub.player.state == 'accepted' || hub.player.state == 'needName' ">
			
			<div class="container-label">Chat:</div>
			<div class="col-container">
				<form ng-submit="hub.chatSubmit()" >

				<input id="chat-box"
					ng-model="hub.chatBox"
					placeholder="say something interesting">
				</form>
			</div>

			<div class="container-label">Chats:</div>
			<div id="scrolling-list">
				<div 
				ng-repeat="chat in hub.chats | orderBy:'timeStamp':true" >
					<span class="bright-name">{{chat.name}}</span>: {{chat.body}}
				</div>
			</div>
		</div>

		<!-- tokens -->
		<div ng-show="hub.player.state == 'accepted'">
			<div class="container-label">Tokens:</div>
			<div 	class="col-container">

				<div 	class="list-item"
							ng-repeat="token in hub.tokens" 
							ng-click="hub.hitToken(token)">
					{{token.display}}
				</div>
			</div>


		</div>



	</div> <!-- right -->
</div> <!-- container -->







