<h3>{{ttt.player.name}}: ({{ttt.player.token}})</h3>
<p>Win count: {{ttt.player.wins}}</p>

<div class="board">
	<div ng-repeat="g in ttt.game.board track by $index" class="board-cell" ng-click="ttt.cellHit($index)" ng-bind="ttt.game.board[$index]"></div>
</div>

<!-- <h2 class="feedback" id="message" ng-bind="ttt.message"></h2> -->
<h2 class="feedback" ng-hide="ttt.game.over">{{ttt.getCurrPlayer().name}} to play ({{ttt.getCurrPlayer().token}}).</h2>
<h2 class="feedback" ng-show="ttt.game.over">Game over: {{ttt.game.overMessage}}</h2>

<button class="question" ng-show="ttt.game.over" ng-click="ttt.resetGame()">Play again?</button>

